.fileul {
    white-space: nowrap; 
    list-style: none;
    overflow: auto;
    font-family: 'IBM Plex Mono', monospace;
}

.fileul a {
    font-size: 10px;
    color:  #212121 !important;
}

.fileul .clave {
    background-color: rgb(112,112,112);
    font-weight: bold;
    color: white;
}

.fileul li{    
    border: 1px solid rgba(0,0,0,0.14);
    margin: 0px !important;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display:inline-block;
}
