.parcial {
    background: #BBDEFB;
}

.receso {
    background: #FFF9C4;;
}

table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
}

#cron .day {
    border: none;
}

#cron td,th {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

.fileul {
    white-space: nowrap; 
    list-style: none;
    overflow: auto;
    font-family: 'IBM Plex Mono', monospace;
}

.fileul a {
    font-size: 10px;
    color:inherit;
}

.fileul .clave {
    background-color: grey;
    font-weight: bold;
    color: white;
}

.fileul li{    
    border: 1px solid rgba(0,0,0,0.14);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display:inline-block;
}

@font-face {
    font-family: IBM Plex Mono;
    src: local(IBM Plex Mono), url('fonts/IBMPlexMono.ttf') format('opentype');
}

h4 {
     border-bottom: 1px solid rgba(0,0,0,0.14);
     margin-bottom: 5px;
     margin-top: 5px;
     padding-bottom: 15px;
}

.title {
    color: #444;
}

li.logo {
	 border-bottom: 1px solid rgba(0,0,0,0.14);
}

ul.sidenav.sidenav-fixed li.logo {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-bottom: 10px;
}

#logo-container {
    height: 120px;
    margin-bottom: 32px;
}

#front-page-logo {
    height: 120px;
    display: inline-block;
    
    pointer-events: none;
}

.sidenav .collapsible-header, .sidenav.fixed .collapsible-header {
	padding: 0 32px;
}

.sidenav .collapsible-body li a, .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 46px;
}

.btn-floating {
	margin-left: 10px;
    margin-top: 10px;
    background-color: #03a9f4;
}

header, main, footer {
	padding-left: 300px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
    	padding-left: 0;
    }
}
