<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>{{ .Title }}</title>
  
    <!-- CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/materialize.css">
  
  
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  
    {{ partial "favicon.html" . }}
  
  </head>


  <body>
    <main>

       {{ partial "sidenav.html" . }}