 
 <ul id="slide-out" class="sidenav sidenav-fixed collapsible">
      <li class="logo">
        <a id="logo-container" href="/" class="brand-logo">
          <object id="front-page-logo" type="image/svg+xml" data="{{ .Site.BaseURL }}img/mobile.svg">Your browser does not support SVG</object>
        </a>
        <h5>aed.io</h5>
      </li>      
      <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
             {{ $currentPage := . }}
             {{ range .Site.Menus.main }}
                 {{ if .HasChildren }}
                     </li>
                     <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                         <a class="collapsible-header waves-effect waves-teal" href="#">{{ .Title }}</a>
                        <div class="collapsible-body">
                          <ul>
                              {{ range .Children }}
                                  <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                              {{ end }}
                          </ul>
                        </div>
                    </li>
                 {{ else }}                 
                     <li>
                         <a href="{{ .URL }}">{{ .Title }}</a>
                     </li>
                 {{ end }}
             {{ end }}             
         </ul>
        </li>
    </ul>

<div class="fixed-action-btn">
<a href="#" data-target="slide-out" class="top-nav sidenav-trigger full hide-on-large-only btn-floating pulse"><i class="material-icons">menu</i></a></div>